defs
  linearGradient#sunnytangerine(gradientTransform='rotate(70) translate(0,-100)')
    stop(stop-color='#FFDD94', offset='0%')
    stop(stop-color='#D1C6F3', offset='100%')
  path#hex(d='M2.59608 54.0968C-0.528122 48.6855 -0.528119 42.0186 2.59608 36.6073L18.6013 8.88542C21.7255 3.47414 27.4993 0.140663 33.7477 0.140663L65.7582 0.140663C72.0066 0.140663 77.7803 3.47415 80.9045 8.88542L96.9098 36.6073C100.034 42.0186 100.034 48.6856 96.9098 54.0968L80.9045 81.8187C77.7803 87.23 72.0066 90.5635 65.7582 90.5635L33.7477 90.5635C27.4993 90.5635 21.7255 87.23 18.6013 81.8187L2.59608 54.0968Z')

mixin hex(r, m, x, y)
  use(href='#hex', transform=`translate(${x}, ${y}) scale(${m}) rotate(${r}, 50, 50)`)

g.tangerines(fill='url(#sunnytangerine)', fill-opacity='0.3')
  +hex( 45, 4.5,   270,   70)
  +hex( 45, 2.5,   170, -140)
  +hex( 20, 3.25, -220,  -40)
  +hex(-20, 5,    -200,  300)
  +hex( 35, 3,     300,  600)
  +hex( 50, 2.5,    80,  800)
  +hex(-20, 2,     330,  950)
  +hex( 15, 5.5,  -200, 1100)
  +hex( 40, 3,     400, 1150)
  +hex(  0, 4,     200, 1550)
  +hex(-15, 4,    -200, 1800)
  +hex( 15, 6,     200, 2000)
  
g.ghosts(fill='#F9F8FF', fill-opacity='0.4')
  +hex( 20, 3.5,   250,  -50)
  +hex(-20, 3,     -50,  100)
  +hex( 50, 2.5,   300,  330)
  +hex( 10, 1.5,   100,  530)
  +hex( -5, 3,    -100,  730)
  +hex(-15, 4,     200, 1050)
  +hex(  5, 3,     -80, 1250)
  +hex( 30, 2,     400, 1450)
  +hex(  0, 5,     100, 1750)
  
g.lavenders(fill='#F0ECFF', fill-opacity='0.3')
  +hex(  5, 4,    -100, -300)
  +hex( 20, 2,     100,  200)
  +hex( -5, 1,     300,  500)
  +hex( 15, 2.5,   360,  750)
  +hex(  0, 3,    -100,  950)
  +hex(-15, 3.5,   100, 1250)
  +hex(  5, 5,     300, 1550)
  +hex( 15, 4,    -100, 2050)
